body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('your-image.jpg');
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
}

.container nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.container nav .logo {
    display: flex;
    margin-left: 60px;
}

.container nav .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 58px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.container nav .logo a:hover {
    color: #37c0ff;
    transition: 1s;
}

.container nav .lists {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container nav .lists ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container nav .lists ul li {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container nav .lists ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: 500ms;
}
.container nav .lists ul .active a,
.container nav .lists ul li:hover a {
    color: #37c0ff;
    transition: 500ms;
}

.container nav .lists ul button {
    width: 200px;
    height: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #37c0ff;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 500ms;
}

.container nav .lists ul button:hover {
    background: transparent;
    border: 2px solid #37c0ff;
    transition: 500ms;
}

.content {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1 {
    width: 80%;
    color: #fff;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight: 1000;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 15px;
}

.content button {
    width: 220px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    background: #37c0ff;
    cursor: pointer;
    margin-top: 10px;
    transition: 500ms;
}

.content button:hover {
    background: transparent;
    border: 2px solid #37c0ff;
    transition: 500ms;
}